# macOS
.DS_Store

# Node.js installs
**/node_modules/
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*
server/.env*
front-end/.env*

# Next.js build outputs
.next/
out/
build/

# Prisma
server/prisma/*.db

# TypeScript
*.tsbuildinfo
